<h3 class="header">Reuters Headlines for the U.S.</h3>
    {{!-- <div id="buttons">
      <button class="btn" id="weight-sort">Sort By Weight</button>
      <button class="btn" id="name-sort">Sort By Name</button>
    </div> --}}
    <table id="results">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>Image</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <!-- Results from DB here -->
      </tbody>
    </table>
    <script src="./app.js"></script>